@charset "UTF-8";
/*Обнуление*/
@import url(all.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@use "sass:math";
@keyframes button-scale-up-down {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5);
    box-shadow: 0 0 10px #ffcc00; }
  100% {
    transform: scale(1); } }
body {
  font-family: "Poppins", sans-serif; }
  body ._btn-animatable {
    animation: button-scale-up-down;
    animation-duration: 150ms;
    animation-iteration-count: 1; }

.content-holder {
  display: grid;
  grid-template-rows: minmax(970px, auto) 1fr minmax(auto, 311px);
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer"; }

.header {
  display: grid;
  grid-template: minmax(50px, auto) minmax(120px, auto) 1fr/100%;
  grid-area: header;
  grid-template-areas: "header-menu" "main-menu" "slider"; }
  .header .header-menu {
    min-height: 50px;
    display: grid;
    grid-template: 100%/minmax(5%, 1fr) minmax(auto, 883px) minmax(auto, 167px) minmax(auto, 130px) minmax(5%, 1fr);
    grid-area: header-menu;
    background-color: #bc0000;
    color: #fff; }
    .header .header-menu > * {
      transition: background-color 150ms, box-shadow 150ms;
      cursor: pointer;
      position: relative;
      line-height: 50px;
      width: max-content;
      align-self: center;
      padding: 0 10px; }
      .header .header-menu > *:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        background-color: #bc0000;
        left: 50%;
        bottom: 0;
        transition: width 500ms, left 500ms; }
      .header .header-menu > *:hover {
        background-color: #b20000;
        box-shadow: inset 0 0 1px #700000; }
      .header .header-menu > *:before {
        letter-spacing: 5px; }
    .header .header-menu .header-menu__language {
      grid-column: 2/3;
      position: relative;
      padding-right: 23px; }
      .header .header-menu .header-menu__language:before {
        position: absolute;
        right: 0; }
    .header .header-menu .header-menu__contact {
      grid-column: 3/4; }
    .header .header-menu .header-menu__country {
      grid-column: 4/5;
      position: relative;
      padding-right: 23px; }
      .header .header-menu .header-menu__country:before {
        position: absolute;
        right: 0; }
  .header .main-menu {
    min-height: 120px;
    display: grid;
    grid-template: 100%/minmax(5%, 1fr) minmax(120px, 234px) minmax(auto, 885px) minmax(auto, 50px) minmax(5%, 1fr);
    grid-auto-flow: column;
    grid-area: main-menu;
    background-color: #ffcc00; }
    .header .main-menu > * {
      align-self: center; }
      .header .main-menu > *:before {
        letter-spacing: 5px; }
    .header .main-menu .logo {
      grid-column: 2/3;
      height: 100px;
      width: 100%;
      background: url("../images/design/dhl-logo.png") 0 55% no-repeat;
      background-size: 120px auto; }
    .header .main-menu .main-menu__links {
      max-width: 700px;
      height: 100%;
      grid-column: 3/4;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-transform: uppercase;
      color: #bc0000; }
      .header .main-menu .main-menu__links > * {
        line-height: 120px;
        text-align: center;
        flex: 0 1 auto;
        padding: 0 20px;
        transition: background-color 150ms, box-shadow 150ms;
        cursor: pointer;
        position: relative; }
        .header .main-menu .main-menu__links > *:after {
          content: "";
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          background-color: #bc0000;
          left: 50%;
          bottom: 0;
          transition: width 500ms, left 500ms; }
        .header .main-menu .main-menu__links > *:hover {
          background-color: #f5c400;
          box-shadow: inset 0 0 1px #b38f00; }
          .header .main-menu .main-menu__links > *:hover:after {
            display: block;
            left: 0;
            width: 100%;
            height: 4px; }
    .header .main-menu .search-button {
      grid-column: 4/5;
      min-height: 50px;
      border-radius: 50%;
      min-width: 50px;
      background: #bc0000 url("../images/icons/icons8-search.svg") 50%/20px no-repeat;
      cursor: pointer;
      transition: transform 150ms; }
      .header .main-menu .search-button:hover {
        transform: scale(1.15); }
  .header .slider {
    background: url("../images/design/slider-bg.jpg") top right/cover;
    grid-area: slider;
    display: grid;
    position: relative;
    grid-template-columns: minmax(5%, 1fr) minmax(auto, 170px) minmax(auto, 300px) minmax(auto, 410px) minmax(auto, 655px);
    grid-template-rows: minmax(auto, 179px) minmax(195px, auto) minmax(135px, auto) minmax(58px, auto) minmax(auto, 50px) minmax(5%, 1fr);
    grid-template-areas: "title title title" "add-text add-text add-text" "advantages advantages" "learn-more shipping"; }
    .header .slider:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(70deg, #020024 0%, #ba0000 0%, rgba(0, 212, 255, 0) 100%);
      z-index: 0; }
    .header .slider .slider__title {
      grid-area: title;
      grid-row: 2/3;
      grid-column: 2/5;
      font-size: 70px;
      letter-spacing: 2px;
      line-height: 80px;
      color: #ffffff;
      font-weight: 700;
      z-index: 2; }
    .header .slider .slider__yellow-text {
      grid-area: add-text;
      grid-row: 3/4;
      grid-column: 2/5;
      align-self: center;
      font-size: 20px;
      color: #ffcc00;
      letter-spacing: 1px;
      line-height: 30px;
      position: relative;
      z-index: 2; }
      .header .slider .slider__yellow-text:before {
        content: "";
        display: block;
        position: absolute;
        width: 100px;
        height: 4px;
        background-color: #ffcc00;
        top: -40px;
        left: 0; }
    .header .slider .slider__advantages {
      grid-area: advantages;
      grid-row: 4/5;
      grid-column: 2/4;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 30px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      z-index: 2; }
      .header .slider .slider__advantages span:nth-child(1) {
        width: 160px; }
      .header .slider .slider__advantages span:nth-child(2) {
        width: 128px; }
      .header .slider .slider__advantages span:last-child:after {
        display: none; }
      .header .slider .slider__advantages * {
        display: inline-block;
        position: relative; }
        .header .slider .slider__advantages *:after {
          content: "";
          display: block;
          position: absolute;
          width: 4px;
          height: 4px;
          bottom: 7px;
          right: 28px;
          border-radius: 50%;
          background-color: #ffcc00; }
    .header .slider .slider__learn-more {
      grid-area: learn-more;
      grid-row: 5/6;
      grid-column: 2/3;
      display: grid;
      place-content: center;
      background-color: #ffcc00;
      border-radius: 24px;
      max-width: 150px;
      color: #bc0000;
      text-transform: uppercase;
      font-weight: 700;
      z-index: 2;
      box-shadow: 0 0 1px #ffcc00; }
      .header .slider .slider__learn-more:hover {
        box-shadow: 0 0 5px #ffcc00; }
    .header .slider .slider__shipping {
      grid-area: shipping;
      grid-row: 5/6;
      grid-column: 3/4;
      border: 2px solid white;
      font-weight: 700;
      max-width: 190px;
      border-radius: 24px;
      color: white;
      z-index: 2; }
    .header .slider .button {
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Likely future */
      cursor: pointer;
      display: grid;
      place-content: center;
      text-transform: uppercase;
      transition: box-shadow 150ms, transform ease-in 150ms; }
      .header .slider .button:hover {
        transform: scale(0.95); }

.main {
  grid-area: main;
  grid-template-rows: minmax(735px, auto) minmax(700px, auto);
  display: grid; }
  .main .services {
    display: grid;
    grid-template: minmax(auto, 100px) minmax(auto, 72px) minmax(auto, 36px) minmax(auto, 68.75px) minmax(auto, auto) minmax(auto, 95px)/minmax(5%, 1fr) minmax(270px, 1170px) minmax(5%, 1fr);
    grid-template-areas: "empty empty empty empty" "empty ttile empty empty" "empty bigtitle empty empty" "empty empty empty empty" "empty services worldwide empty"; }
    .main .services .services__title {
      grid-area: title;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      font-size: 50px;
      letter-spacing: 2px;
      font-weight: 700;
      line-height: 80px;
      color: #bc0000; }
    .main .services .services__bg-title {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
      font-size: 150px;
      letter-spacing: 5px;
      line-height: 80px;
      color: #f8f8f8;
      font-weight: 700;
      text-transform: uppercase;
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Likely future */ }
      @media screen and (max-width: 800px) {
        .main .services .services__bg-title {
          display: none; } }
    .main .services .services__holder {
      grid-area: services;
      grid-column: 2 / 3;
      grid-row: 5 / 6;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1170px; }
      .main .services .services__holder:first-line {
        margin-top: 0; }
      .main .services .services__holder > div {
        min-height: 350px;
        flex: 1 1 270px;
        /*  Stretching: */
        margin: 11.25px; }
      .main .services .services__holder .service .service__title {
        font-size: 20px;
        margin: 10px 0 0;
        letter-spacing: 1px;
        line-height: 40px;
        color: #bc0000;
        font-weight: 700;
        text-transform: uppercase;
        max-width: 100%; }
      .main .services .services__holder .service .service__text {
        height: 68px;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 26px;
        color: #777777;
        font-weight: 400;
        max-width: 100%; }
      .main .services .services__holder .service .service__read-more {
        display: inline-block;
        margin-top: 30px;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 26px;
        color: #222222;
        font-weight: 700; }
        .main .services .services__holder .service .service__read-more .svg-arrow {
          transition: color 150ms; }
        .main .services .services__holder .service .service__read-more:hover .svg-arrow {
          fill: #bc0000; }
      .main .services .services__holder .services__worldwide {
        background-color: #bc0000;
        padding: 30px; }
    .main .services .services__worldwide {
      background-color: #bc0000; }
      .main .services .services__worldwide .worldwide-title {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 700; }
      .main .services .services__worldwide .worldwide-text {
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        font-weight: 400;
        margin-top: 45px; }
      .main .services .services__worldwide .drop-down_menu {
        height: 50px;
        width: 100%;
        background-color: #ad0000;
        border-right: 50px solid #ffcc00;
        display: grid;
        align-content: center;
        padding-left: 21px;
        position: relative;
        margin-top: 30px; }
        .main .services .services__worldwide .drop-down_menu span {
          font-size: 16px;
          color: #fff;
          font-weight: 400; }
        .main .services .services__worldwide .drop-down_menu:before {
          color: #bc0000;
          display: grid;
          place-content: center;
          width: 50px;
          height: 50px;
          position: absolute;
          right: -50px;
          top: 0; }
      .main .services .services__worldwide .btn-explore {
        margin-top: 20px;
        display: grid;
        place-content: center;
        background-color: #ffcc00;
        border-radius: 24px;
        max-width: 150px;
        color: #bc0000;
        text-transform: uppercase;
        font-weight: 700;
        z-index: 2;
        box-shadow: 0 0 1px #ffcc00;
        width: 150px;
        height: 50px; }
        .main .services .services__worldwide .btn-explore:hover {
          box-shadow: 0 0 5px #ffcc00; }
  .main .video-holder {
    position: relative;
    display: grid;
    grid-template-rows: 0.9fr auto 1.1fr;
    grid-template-columns: minmax(150px, 1fr) auto minmax(150px, 1fr); }
    .main .video-holder:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3); }
    .main .video-holder .video-player {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      object-fit: cover; }
    .main .video-holder .video-title {
      grid-column: 1/47;
      align-self: center;
      margin-top: 100px;
      z-index: 2;
      font-size: 50px;
      letter-spacing: 2px;
      line-height: 80px;
      font-weight: 700;
      color: #ffffff;
      text-align: center; }
    .main .video-holder #button-play-stop {
      grid-row: 2/3;
      grid-column: 2/3;
      outline: none;
      border: none;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #ffcc00;
      z-index: 2;
      color: #ba0000;
      font-size: 18px;
      transition: opacity 300ms; }

.company-about {
  background-color: #bc0000;
  display: grid;
  grid-template-columns: minmax(5%, 1fr) minmax(auto, 1170px) minmax(5%, 1fr);
  grid-template-rows: 100px auto 100px; }
  .company-about .about-text {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .company-about .about_learn-more {
    grid-row: 2/3;
    grid-column: 3/4;
    place-self: center;
    max-width: 150px;
    width: 100%;
    padding: 0 20px;
    min-height: 50px;
    display: grid;
    place-items: center;
    background-color: #a50000;
    border-radius: 50px;
    overflow: hidden;
    transition: background-color 150ms, box-shadow 150ms; }
    .company-about .about_learn-more:hover {
      background-color: #960000;
      box-shadow: inset 0 0 3px #7f0000; }
    .company-about .about_learn-more span {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 1px;
      color: #ffffff;
      text-transform: uppercase; }
  .company-about .text-content {
    max-width: 740px;
    margin-right: 40px; }
    .company-about .text-content h2 {
      font-size: 30px;
      letter-spacing: 1px;
      line-height: 30px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1em; }
    .company-about .text-content p {
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      font-weight: 400; }

.sponsors_holder {
  display: grid;
  grid-template-rows: 35px auto 35px;
  grid-template-columns: minmax(5%, 1fr) minmax(auto, 1170px) minmax(5%, 1fr); }
  .sponsors_holder .sponsors {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .sponsors_holder .sponsors div {
      min-width: 48.71%;
      flex: 1 0 570px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 35px 0; }
      .sponsors_holder .sponsors div a {
        flex: 0 1 200px;
        display: block;
        background-color: #f9f9f9;
        border: 2px solid #eedcdc;
        min-width: 270px;
        min-height: 130px; }

.left-side {
  margin-right: 15px; }

.right-side {
  margin-left: 15px; }

.footer {
  background-color: #ffcc00;
  grid-area: footer; }

.svg-arrow {
  height: 10px;
  width: 10px;
  display: inline-block; }

.options_advantages div {
  margin-bottom: 50px; }

.options_card {
  margin-top: -200px;
  display: grid;
  grid-template-columns: minmax(5%, 1fr) minmax(auto, 1170px) minmax(5%, 1fr);
  grid-template-rows: minmax(510px, auto) auto minmax(auto, 100px);
  z-index: 1; }

.options_advantages {
  max-width: 1170px;
  grid-column: 2/3;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative; }
  .options_advantages .btn_show-all {
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    position: absolute;
    color: white;
    top: 130px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
    .options_advantages .btn_show-all div {
      position: relative;
      display: grid;
      place-content: center; }
      .options_advantages .btn_show-all div:before {
        font-size: 40px; }
    .options_advantages .btn_show-all span {
      font-weight: 700; }
    .options_advantages .btn_show-all:hover img {
      transform: translateY(0); }
  .options_advantages .additional_advantages:hover img {
    transform: translateY(0); }
  .options_advantages .image_holder {
    height: 200px;
    overflow: hidden; }
    .options_advantages .image_holder:hover img {
      transform: translateY(100%); }
    .options_advantages .image_holder img {
      width: 100%;
      height: auto;
      transform: translateY(100%);
      bottom: 0;
      transition: transform 150ms; }
  .options_advantages > .additional_advantages {
    max-width: 370px;
    flex: 1 1 370px; }
    .options_advantages > .additional_advantages .text_container {
      background-color: #fff;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05), -4px 4px 4px rgba(0, 0, 0, 0.05);
      padding: 30px; }
      .options_advantages > .additional_advantages .text_container h3 {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #bc0000;
        font-weight: 700; }
      .options_advantages > .additional_advantages .text_container .advantages_list li {
        font-size: 14px;
        line-height: 22px;
        color: #777777; }
        .options_advantages > .additional_advantages .text_container .advantages_list li .svg-arrow {
          fill: #ffcc00; }
    @media screen and (max-width: 1235px) {
      .options_advantages > .additional_advantages {
        max-width: none; } }

.main_card {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between; }

.card {
  margin-right: 50px;
  background-color: #bc0000;
  max-width: 570px;
  flex: 1 1 450px;
  width: auto; }
  .card .svg-arrow {
    fill: #ffcc00; }

.ddwn-links_title {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  width: 100%;
  min-height: 50px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 50px;
  grid-template-rows: 100%;
  border: 2px solid #fff; }
  .ddwn-links_title span {
    grid-column: 1/2;
    display: grid;
    align-content: center; }
  .ddwn-links_title .ddwn_chevron {
    display: grid;
    place-content: center;
    border-left: 2px solid white; }

.ddwn-links {
  width: 100%;
  display: none;
  overflow: hidden;
  border: 2px solid #ffcc00;
  border-top: none;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.13); }
  .ddwn-links li {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff; }
    .ddwn-links li span {
      margin-left: 10px; }
  .ddwn-links .ddwn-links_sector {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700; }

.logistics-ddwns_holder {
  padding: 40px;
  grid-column: 1/3; }
  .logistics-ddwns_holder .ddwn-links_holder {
    margin: 10px 0; }

.express-info_holder {
  grid-column: 1/3;
  padding: 40px 40px 100px;
  color: white;
  position: relative; }
  .express-info_holder .express_slogan {
    font-weight: 700;
    color: #ffcc00;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .express-info_holder .express-info_btn {
    display: grid;
    place-content: center;
    background-color: #ffcc00;
    border-radius: 24px;
    max-width: 150px;
    color: #bc0000;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 2;
    box-shadow: 0 0 1px #ffcc00;
    min-height: 40px;
    padding: 0 20px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1; }
    .express-info_holder .express-info_btn:hover {
      box-shadow: 0 0 5px #ffcc00; }
    .express-info_holder .express-info_btn span:after {
      display: inline-block;
      content: "\f04b";
      font-size: 11px;
      font-family: "Font Awesome 5 Free", sans-serif;
      margin-left: 7px; }
  .express-info_holder .express-info span {
    display: block;
    margin-bottom: 7px; }

.staff-photo_holder {
  max-width: 470px;
  flex: 1 1 450px;
  width: auto;
  position: relative;
  overflow: hidden;
  z-index: -2; }
  .staff-photo_holder img {
    margin: 35px 0 0 35px;
    height: 93.45%;
    background-color: #777777;
    z-index: 1; }
  .staff-photo_holder .staff-photo_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 93.45%;
    width: 92.55%;
    background-color: #bc0000;
    z-index: -1; }

._card-holders_express-active {
  grid-template-columns: 54% 1fr !important; }
  ._card-holders_express-active .card-holder_express {
    box-shadow: 0 0 10px #ffcc00;
    background-color: #ffcc00 !important; }
    ._card-holders_express-active .card-holder_express span {
      color: #bc0000 !important; }
  ._card-holders_express-active .express-info_holder {
    display: block; }
  ._card-holders_express-active .logistics-ddwns_holder {
    display: none; }

._card-holders_logistics-active {
  grid-template-columns: 1fr 54% !important; }
  ._card-holders_logistics-active .card-holder_logistics {
    box-shadow: 0 0 10px #ffcc00;
    background-color: #ffcc00 !important; }
    ._card-holders_logistics-active .card-holder_logistics span {
      color: #bc0000 !important; }
  ._card-holders_logistics-active .express-info_holder {
    display: none; }
  ._card-holders_logistics-active .logistics-ddwns_holder {
    display: block; }

.card-holders {
  min-height: 50px;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  transition: grid-template-colums 500ms;
  overflow: hidden; }
  .card-holders div {
    transition: width 500ms; }

.card-holder_logistics, .card-holder_express {
  width: 100%;
  height: 50px;
  display: inline-block; }
  .card-holder_logistics span, .card-holder_express span {
    display: grid;
    width: 100%;
    height: 100%;
    place-content: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase; }

@media screen and (max-width: 1056px) {
  .card {
    max-width: none;
    flex: 1 1 1056px;
    margin: initial; }

  .staff-photo_holder {
    margin: 0 0 50px;
    max-width: none; }
    .staff-photo_holder .staff-photo_bg {
      display: none; }
    .staff-photo_holder img {
      margin: initial;
      width: 100%;
      height: auto; } }
._controls-show-strict {
  cursor: default !important; }
  ._controls-show-strict #button-play-stop {
    cursor: default !important;
    opacity: 1 !important; }

._show-images .additional_advantages img {
  transform: translateY(0) !important; }

._ddwn-links_active .ddwn-links_title {
  font-size: 14px;
  line-height: 24px;
  border: none;
  background-color: #ffcc00;
  color: #bc0000;
  text-transform: uppercase;
  font-weight: 700; }
._ddwn-links_active .ddwn-links {
  display: block; }
._ddwn-links_active .ddwn_chevron {
  border-left: 2px solid #bc0000; }

@media screen and (max-width: 1300px) {
  .sponsors div.left-side, .sponsors div.right-side {
    margin-right: 0;
    margin-left: 0;
    flex: 1 0 100%; }
    .sponsors div.left-side a, .sponsors div.right-side a {
      min-width: 40%; } }
@media screen and (max-width: 1034px) {
  .about-text {
    flex-direction: column;
    align-items: flex-start; }
    .about-text .text-content {
      margin-right: 0;
      max-width: initial; }
    .about-text .about_learn-more {
      margin-top: 40px; } }

/*# sourceMappingURL=main.css.map */
